<div [hidden]="!active">
    <div>
        <button mat-icon-button
            (click)="triggerColorPicker()"
            [style.color]="color"
            [matTooltip]="locale.currentLocale['actions']['colorpick']">
            <mat-icon fontIcon="brush"></mat-icon>
            <input [id]="frame.id + '-cp'" [(ngModel)]="color" type="color" style="display:none"/>
        </button>
        <button mat-icon-button
            [disabled]="!(framesService.scaleIndex - 1 >= 0)"
            (click)="zoomOut()"
            [matTooltip]="locale.currentLocale['actions']['zoomOut']">
            <mat-icon fontIcon="zoom_out"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="!(framesService.scaleIndex + 1 < framesService.scales.length)"
            (click)="zoomIn()"
            [matTooltip]="locale.currentLocale['actions']['zoomIn']">
            <mat-icon fontIcon="zoom_in"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['clear']"
            (click)="clear()">
            <mat-icon fontIcon="crop_square"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['copyFrame']"
            (click)="copy()">
            <mat-icon fontIcon="content_copy"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['addFrame']"
            (click)="framesService.add()">
            <mat-icon fontIcon="add_box"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['remove']"
            (click)="remove()">
            <mat-icon fontIcon="disabled_by_default"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['removeFrames']"
            (click)="removeFramesGroup()">
            <mat-icon fontIcon="delete_forever"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="!frameCommandsChain.undoable"
            [matTooltip]="locale.currentLocale['actions']['undo']"
            (click)="frameCommandsChain.undo()">
            <mat-icon fontIcon="undo"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="!frameCommandsChain.redoable"
            [matTooltip]="locale.currentLocale['actions']['redo']"
            (click)="frameCommandsChain.redo()">
            <mat-icon fontIcon="redo"></mat-icon>
        </button>    
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['saveFrame']"
            (click)="saveFrame()">
            <mat-icon fontIcon="save_as"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['actions']['saveFramesGroup']"
            (click)="framesService.saveFramesGroup()">
            <mat-icon fontIcon="save"></mat-icon>
        </button>    
    </div>
    <div>
        <button mat-icon-button
            [disabled]="isFirst"
            [matTooltip]="locale.currentLocale['actions']['previousFrame']"
            (click)="framesService.stepBack()">
            <mat-icon fontIcon="arrow_left"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="isLast"
            [matTooltip]="locale.currentLocale['actions']['nextFrame']"
            (click)="framesService.stepForward()">
            <mat-icon fontIcon="arrow_right"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="isFirst"
            [matTooltip]="locale.currentLocale['actions']['toFirstFrame']"
            (click)="framesService.toFirstFrame()">
            <mat-icon fontIcon="first_page"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="isLast"
            [matTooltip]="locale.currentLocale['actions']['toLastFrame']"
            (click)="framesService.toLastFrame()">
            <mat-icon fontIcon="last_page"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="isFirst"
            [matTooltip]="locale.currentLocale['actions']['moveFrameBack']"
            (click)="moveBack()">
            <mat-icon fontIcon="arrow_back_alt"></mat-icon>
        </button>
        <button mat-icon-button
            [disabled]="isLast"
            [matTooltip]="locale.currentLocale['actions']['moveFrameForward']"
            (click)="moveForward()">
            <mat-icon fontIcon="arrow_forward_alt"></mat-icon>
        </button>
    </div>
    <div [id]="frame.id" class="frame-grid-container"></div>
</div>