<h2 mat-dialog-title>{{ locale.currentLocale['profile']['profileInfo'] }}</h2>
<mat-dialog-content>
    <form>
        <mat-form-field style="width:100%">
          <mat-label>{{ locale.currentLocale['profile']['name'] }}</mat-label>
          <input matInput [(ngModel)]="profileName" name="profileName">
        </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">{{ locale.currentLocale['actions']['cancel'] }}</button>
    <button mat-raised-button
      (click)="saveProfileInfo()"
      [disabled]="profileName === ''">
      {{ locale.currentLocale['actions']['save'] }}
    </button>
</mat-dialog-actions>