<h2 mat-dialog-title>{{ locale.currentLocale['animation']['animationPreview'] }}</h2>
<mat-dialog-content>
    <div>
        <preview-grid *ngFor="let frame of framesGroup.frames; index as index" 
            [frameId]="frame.id"
            [cols]="frame.cols"
            [rows]="frame.rows"
            [colorMap]="frame.colorMap"
            [isFirst]="index === 0" />
    </div>
    <div>
        <button mat-icon-button
            [matTooltip]="playing ? locale.currentLocale['animation']['pause'] : locale.currentLocale['animation']['play']"
            (click)="playOrPause()">
            <mat-icon [fontIcon]="playing ? 'pause' : 'play_arrow'"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['animation']['stop']"
            (click)="stop()">
            <mat-icon fontIcon="stop"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['animation']['stepBack']"
            (click)="stepBack()"
            [disabled]="playing">
            <mat-icon fontIcon="skip_previous"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['animation']['stepForward']"
            (click)="stepForward()"
            [disabled]="playing">
            <mat-icon fontIcon="skip_next"></mat-icon>
        </button>
        <button mat-icon-button
            [matTooltip]="locale.currentLocale['animation']['toGIF']"
            (click)="toGIF()"
            [disabled]="playing">
            <mat-icon fontIcon="gif"></mat-icon>
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">{{ locale.currentLocale['actions']['close'] }}</button>
</mat-dialog-actions>