<mat-toolbar>
  <button mat-icon-button>
    <mat-icon fontIcon="folder_open"></mat-icon>
  </button>
  <button mat-icon-button (click)="save()">
    <mat-icon fontIcon="save"></mat-icon>
  </button>
  <button mat-icon-button (click)="addFrame()">
    <mat-icon fontIcon="add_box"></mat-icon>
  </button>
  <button mat-icon-button (click)="destroyGrid()">
    <mat-icon fontIcon="delete_forever"></mat-icon>
  </button>
  <button mat-icon-button (click)="clearGrid()">
    <mat-icon fontIcon="crop_square"></mat-icon>
  </button>
</mat-toolbar>

<div style="width:50%">
  <pix-editarium #grids
    *ngFor="let frame of frames; index as i"
    [index]="i"
    [isLast]="i+1 === frames.length"
    [active]="i === currentFrameIndex"
    (nextFrame)="switch('next')"
    (previousFrame)="switch('previous')"></pix-editarium>
</div>