<mat-toolbar>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['open']"
    (click)="dialogService.openProfileSelectDialog()">
    <mat-icon fontIcon="folder_open"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['save']"
    (click)="save()">
    <mat-icon fontIcon="save"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['addFrame']"
    (click)="addFrameOrOpenDialog()">
    <mat-icon fontIcon="add_box"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['removeFrames']"
    (click)="framesService.removeAll()">
    <mat-icon fontIcon="delete_forever"></mat-icon>
  </button>
</mat-toolbar>

<div style="width:50%">
  <pix-editarium #grids
    *ngFor="let frame of framesService.frames; index as i"
    [frame]="frame"
    [nCols]="framesService.nCols"
    [nRows]="framesService.nRows"
    [index]="i"
    [isLast]="i + 1 === framesService.frames.length"
    [isFirst]="i === 0"
    [active]="i === framesService.currentFrameIndex"
  ></pix-editarium>
</div>