<mat-toolbar>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['open']"
    (click)="dialogService.openProfileSelectDialog()">
    <mat-icon fontIcon="folder_open"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['save']"
    (click)="save()">
    <mat-icon fontIcon="save"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['addFrameGroup']"
    (click)="addFrameGroup()">
    <mat-icon fontIcon="add_box"></mat-icon>
  </button>
  <button mat-icon-button
    [matTooltip]="locale.currentLocale['actions']['removeFrames']"
    (click)="framesService.removeAll()">
    <mat-icon fontIcon="delete_forever"></mat-icon>
  </button>
</mat-toolbar>

<div>
  <div style="float:left;width:15%;margin-right:20px">
    <pix-frameslist />
  </div>

  <div style="width:50%;float:left">
    <pix-tabsarea />
  </div>
</div>
