<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>{{ context.context.name }}</span>
      <button mat-icon-button
        (click)="openProfileInfoDialog()"
        [matTooltip]="locale.currentLocale['profile']['openInfo']">
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
	  <mat-list-item role="listitem" *ngFor="let frame of context.framesList">
	  	<span (dblclick)="openFramesGroup(frame)">{{ frame.name }}</span>
	  </mat-list-item>
	</mat-list>
  </mat-card-content>
</mat-card>